{% extends 'base.html' %}
{% block content %}
<h1>Relatório de Vendas</h1>
<table border="1">
    <tr>
        <th>Anúncio</th>
        <th>Valor Pago</th>
        <th>Comprador</th>
        <th>Data da Compra</th>
    </tr>
    {% for venda in vendas %}
    <tr>
        <td>{{ venda.anuncio.titulo }}</td>
        <td>R$ {{ venda.compra.valor_pago }}</td>
        <td>{{ venda.compra.usuario.nome }}</td>
        <td>{{ venda.compra.data_compra.strftime('%d/%m/%Y %H:%M') if venda.compra.data_compra else '' }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
